openapi: 3.0.0
tags:
  - name: Waffle
info:
  title: Waffle
  version: 1.0.0-pre1
  contact:
    name: Support
    url: 'https://waffle.rest/support'
    email: support@waffle.rest
  termsOfService: 'https://waffle.rest/v1/terms'
  license:
    name: License
    url: 'https://waffle.rest/v1/license'
  description: test
servers:
  - url: 'https://waffle.rest/v1'
    description: Production Server
paths:
  /tokens:
    post:
      tags: []
      summary: Post login details to the platform.
      operationId: post-token
      responses:
        '200':
          description: OK
          headers: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      description: |-
        Posts a username and password to the platform.

        If these are valid, you will recieve a 200 response with a JWT token in the response headers.

        If they are not valid, you will recieve a 401 response.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login'
      parameters: []
    delete:
      tags: []
      description: Revokes your current bearer token.
      summary: Revokes a bearer token.
      operationId: delete-token
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      security:
        - JWT: []
    head:
      tags: []
      summary: ''
      operationId: head-token
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
    options:
      tags: []
      summary: View REST API options for this controller.
      operationId: options-token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controller-info-json:api-single'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      description: Displays a list of REST Operations avaiable via this controller.
      security:
        - JWT: []
    parameters: []
  /users:
    put:
      tags: []
      summary: Create a user account.
      operationId: put-users
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      description: Create a user account in the system.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/team-user'
        description: The full user model for creating a new system user.
      security:
        - JWT: []
    get:
      tags: []
      summary: Get information about all users within your teams.
      operationId: get-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team-user-json:api-multiple'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      description: Get information about all users within your teams.
      security:
        - JWT: []
  /teams:
    put:
      tags: []
      summary: Creates a new team.
      operationId: put-teams
      responses:
        '200':
          description: OK
      description: Creates a new team. The team will be created using the free plan.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/team'
      security:
        - JWT: []
    get:
      tags: []
      summary: Returns a list of teams you have access to.
      operationId: get-teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team-json:api-multiple'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      description: Returns a list of team to which you have access.
      security:
        - JWT: []
    options:
      tags: []
      summary: View REST API options for this controller.
      operationId: options-teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controller-info-json:api-single'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      description: Displays a list of REST Operations avaiable via this controller.
      security:
        - JWT: []
  '/teams/{id}':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team-json:api-single'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      operationId: get-teams-id
      description: Get's details about a given team. You will require read access to the team.
      security:
        - JWT: []
  '/teams/{id}/users':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team-user-json:api-multiple'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      operationId: get-teams-id-users
      description: 'Returns a list of Users in the given team. Please note, you can only see their membership of teams you have access to.'
      security:
        - JWT: []
  '/users/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get a single user.
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team-user-json:api-single'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      operationId: get-users-id
      description: Gets a single user by ID. You will need appropriate rights to view a users details.
      security:
        - JWT: []
  /actors:
    get:
      summary: Returns a list of actors.
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actor-json:api-multiple'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      operationId: get-actors
      parameters:
        - $ref: '#/components/parameters/X-Project-ID'
      security:
        - JWT: []
      description: |-
        Returns a list of all actors within a given project.

        This operation requires a ProjectID to be sent via the headers.
  /projects:
    get:
      summary: Returns a list of projects.
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      operationId: get-projects
      parameters:
        - $ref: '#/components/parameters/team-id-optional'
      security:
        - JWT: []
    put:
      tags: []
      summary: Create or Update a Project.
      operationId: put-projects
      responses:
        '201':
          description: Created
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '412':
          description: Precondition Failed
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-500'
      description: Creates or updates a project within the platform. This must be done within the context of a single team.
      parameters:
        - $ref: '#/components/parameters/X-Team-ID'
      security:
        - JWT: []
  '/projects/{id}':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      summary: Returns details of a single project.
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-projects-id
      description: ''
      security:
        - JWT: []
    delete:
      tags: []
      summary: ''
      operationId: delete-projects-id
      responses:
        '200':
          description: OK
      security:
        - JWT: []
    put:
      tags: []
      summary: ''
      operationId: put-projects-id
      responses:
        '200':
          description: OK
      security:
        - JWT: []
  '/teams/{id}/projects':
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
    get:
      summary: Returns a list of projects owned by a given team.
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-teams-id-projects
      description: Returns a list of projects owned by a given team.
components:
  schemas:
    login:
      title: Login
      type: object
      properties:
        username:
          type: string
          example: user001
        password:
          type: string
          format: password
          example: password1
    team-user:
      title: User
      type: object
      x-examples: {}
      properties:
        id:
          type: integer
          example: 1
        avatar:
          type: integer
          example: 1
        accountCreated:
          type: string
          format: date-time
          example: '2020-10-03T17:32:28Z'
        displayName:
          type: string
          example: Example User
        nameFirst:
          type: string
          example: Example
        nameLast:
          type: string
          example: User
        teams:
          type: array
          items:
            $ref: '#/components/schemas/team-stub'
      required:
        - id
        - accountCreated
        - displayName
        - teams
    team:
      title: Team
      type: object
      x-examples: {}
      properties:
        id:
          type: integer
          example: 1
        displayName:
          type: string
          example: Baffled Crab
        legalName:
          type: string
          example: Baffled Crab Ltd.
        subscription:
          type: string
          enum:
            - Free
            - Indie
            - Pro
          example: Pro
        users:
          type: array
          items:
            $ref: '#/components/schemas/team-user-stub'
      required:
        - id
        - displayName
        - subscription
        - users
    team-stub:
      title: Team (Stub)
      type: object
      properties:
        id:
          type: integer
          example: 1
          format: int32
        displayName:
          type: string
          example: Baffled Crab
        legalName:
          type: string
          example: Baffled Crab Ltd.
        users:
          type: array
          items:
            type: integer
            example: 1
            format: int32
      required:
        - id
        - displayName
        - users
    team-user-stub:
      title: User (Stub)
      type: object
      properties:
        id:
          type: integer
          example: 1
        avatar:
          type: integer
          example: 1
        accountCreated:
          type: string
          format: date-time
          example: '2020-10-03T17:32:28Z'
        displayName:
          type: string
          example: Example User
        nameFirst:
          type: string
          example: Example
        nameLast:
          type: string
          example: User
        teams:
          type: array
          items:
            type: integer
            format: int32
            example: 1
      required:
        - id
        - accountCreated
        - displayName
        - teams
    'json:api-version':
      title: 'json:api-version'
      type: object
      properties:
        version:
          type: string
          example: '1.0'
          default: '1.0'
    'json:api-error':
      title: 'json:api-error'
      type: object
      description: Error objects provide additional information about problems encountered while performing an operation.
      properties:
        id:
          type: string
          description: A unique identifier for this particular occurrence of the problem.
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        status:
          type: string
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
        code:
          type: string
          description: 'An application-specific error code, expressed as a string value.'
        title:
          type: string
          description: 'A short, human-readable summary of the problem that should not change from occurrence to occurrence of the problem, except for purposes of localization.'
        detail:
          type: string
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
        source:
          type: array
          description: An object containing references to the source of the error.
          items:
            type: object
            description: An object containing references to the source of the error.
            properties:
              pointer:
                type: string
                description: |-
                  A JSON Pointer [RFC6901] to the associated entity in the request document.

                  e.g. "/data" for a primary data object, or "/data/attributes/title" for a specific attribute.
              parameter:
                type: string
                description: A string indicating which URI query parameter caused the error.
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
    'json:api-meta':
      title: 'json:api-meta'
      anyOf:
        - properties:
            copyright:
              type: string
            authors:
              type: string
      type: object
    'json:api-link':
      title: 'json:api-link'
      anyOf:
        - properties:
            related:
              type: object
              properties:
                href:
                  type: string
                meta:
                  type: string
            self:
              type: string
            first:
              type: string
            last:
              type: string
            prev:
              type: string
            next:
              type: string
      type: object
    'json:api-resource':
      title: 'json:api-resource'
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: array
          items:
            type:
              - object
              - string
              - number
              - integer
              - boolean
        relationships:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
      required:
        - id
        - type
      x-examples: {}
    'json:api-relationship':
      title: 'json:api-relationship'
      oneOf:
        - properties:
            links:
              type: array
              items:
                $ref: '#/components/schemas/json:api-link'
            data:
              type:
                - object
                - string
                - number
                - integer
                - boolean
            meta:
              type: array
              items:
                $ref: '#/components/schemas/json:api-meta'
      type: object
    'team-user-json:api-single':
      title: 'User (Json:Api) (Single)'
      type: object
      properties:
        data:
          $ref: '#/components/schemas/team-user'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - data
        - jsonapi
    'team-user-json:api-multiple':
      title: 'User (Json:Api) (Multiple)'
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/team-user'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - data
        - jsonapi
    'team-json:api-single':
      title: 'Team (Json:Api) (Single)'
      type: object
      properties:
        data:
          $ref: '#/components/schemas/team'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - data
        - jsonapi
    'team-json:api-multiple':
      title: 'Team (Json:Api) (Multiple)'
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/team'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - data
        - jsonapi
    response-500:
      title: response-500
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - errors
        - meta
        - jsonapi
    controller-info:
      title: Controller Info
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        methods:
          type: array
          items:
            $ref: '#/components/schemas/controller-info-method'
      required:
        - name
        - methods
    controller-info-method:
      title: Controller Info Method
      type: object
      properties:
        id:
          type: string
      required:
        - id
    'controller-info-json:api-single':
      title: 'controller-info-json:api-single'
      type: object
      properties:
        data:
          $ref: '#/components/schemas/controller-info'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - data
        - jsonapi
    actor:
      title: Actor
      type: object
      description: ''
      properties:
        id:
          type: integer
        displayName:
          type: string
      required:
        - id
        - displayName
    'actor-json:api-single':
      title: 'actor-json:api'
      type: object
      properties:
        data:
          $ref: '#/components/schemas/actor'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - data
        - jsonapi
    'actor-json:api-multiple':
      title: 'actor-json:api'
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/actor'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/json:api-error'
        meta:
          type: array
          items:
            $ref: '#/components/schemas/json:api-meta'
        jsonapi:
          $ref: '#/components/schemas/json:api-version'
        links:
          type: array
          items:
            $ref: '#/components/schemas/json:api-link'
        included:
          type: array
          items:
            $ref: '#/components/schemas/json:api-resource'
      required:
        - data
        - jsonapi
  parameters:
    id:
      name: id
      in: path
      schema:
        type: integer
        format: int32
      required: true
      description: Database ID for the current entity.
    team-id-optional:
      name: team
      in: query
      schema:
        type: integer
        format: int32
      required: false
      description: Team ID for this operation. Including this optional parameter will filter down the result set to only include records owned by a specific team.
    team-id-required:
      name: team
      in: query
      schema:
        type: integer
        format: int32
      required: true
      description: Team ID for this operation. This required parameter will filter down the result set to only include records owned by a specific team.
    X-Team-ID:
      name: X-Team-ID
      in: header
      schema:
        type: integer
        format: int32
      required: true
      description: Team ID for this operation. Provides the context under which this operation operates. Mainly used for creating Projects.
    X-Project-ID:
      name: X-Project-ID
      in: header
      schema:
        type: integer
        format: int32
      required: true
      description: Project ID for this operation. Provides the context under which this operation operates. Used widely throughout the system.
  securitySchemes:
    JWT:
      name: JWT
      description: Waffle requires a valid bearer token to gain access to the system. Post your login details to /tokens to get a new bearer token. Tokens are automatically renewed and returned in the response header.
      type: http
      scheme: bearer
      in: header
